extends ./layout.jade
block head
	link(rel="stylesheet" href="/ebolocatemp/cal-heatmap.css")
	style(type="text/css").
		.q6{fill:rgb(242, 0, 19);}
		.q5{fill:rgb(226, 100, 0);}
		.q4{fill:rgb(201, 146, 0);}
		.q3{fill:rgb(171, 181, 0);}
		.q2{fill:rgb(138, 210, 84);}
		.q1{fill:rgb(101, 234, 151);}
		.q0{fill:rgb(237, 237, 237);}
block body
	div.row
		div.col-xs-12
			h1= cdcId
	div.row
		div.col-md-10(style="margin-bottom:15px")		
			p Total records: #{records.length}
			table.table.table-condensed
				each record in records
					tr
						td= new Date(record.timestamp).toUTCString()
						td= record.loc
						td= record.temp
			div.row
				div.col-xs-6
					a.btn.btn-default(href="/ebolocatemp") Home
				div.col-xs-6.text-right
					a.btn.btn-info(href="/ebolocatemp/record") Add another record
		div.col-md-2(style="margin-bottom:15px")
			div
				div(id="cal-heatmap")
	div.row
		div.col-xs-12
			section.panel.panel-default(style="max-width:600px")
				div.panel-heading Temperature trend
				div.panel-body.text-center
					div(style="padding:10px")
						canvas(id="myChart", width="600", height="400")
	
block scripts
	script(src="/ebolocatemp/Chart.min.js")
	script(src="//d3js.org/d3.v3.min.js")
	script(src="/ebolocatemp/cal-heatmap.min.js")

	script.
		$(function(){
			var ctx = document.getElementById("myChart").getContext("2d");

			$.get('/ebolocatemp/api/record/plot/' + "#{cdcId}", function(data){
				console.log(data);
				var myLineChart = new Chart(ctx).Line(data, { responsive: true, datasetFill: false});
			});

			$.get('/ebolocatemp/api/record/calendar/' + "#{cdcId}", function(data){
				console.log(data);
				var cal = new CalHeatMap();
				cal.init({
					domain: "month",
					subDomain: "x_day",
					data: data,
					cellSize: 10,
					range: 2,
					itemName: ["Temp", "Temp"],
					verticalOrientation: true,
					domainDynamicDimension: false,
					label: {
						position: "right",
						rotate: "left",
						offset: {
							x: 0,
							y: 15
						}
					},					
					legend: [99, 100, 101, 102, 103]
				});
			});		
		});
		



		
		
